:root{
  font-size: 62.5%;
}

body {
  background-color: rgb(26, 26, 26);
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-rows: 24rem;
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  color: whitesmoke;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: auto;
  position: relative;
}

#by {
  position: absolute;
  font-size: 2rem;
  font-weight: normal;
  right: 2rem;
  bottom: -5rem;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .tall {
    grid-row: span 2 / auto;
  }

  .wide {
    grid-column: span 2 / auto;
  }

  .big {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }

  .small {
    grid-column: span 1 / auto;
  }

  #cow { background-position: -8rem; }
  #kingfish { background-position: 0 0;}
  #city { background-position: -12rem; }
  #smile { background-position: -3rem; }
  #charlie { background-position: 3rem; }
  #sky { background-position: -6rem; }
  #guy { background-position: -5rem; }
  #eyes { background-position: 0; }
  #lana { background-position: -3rem; }
  #vdp { background-position: -8rem; }
}
