.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  color: whitesmoke;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: auto;
  position: relative;
}

.card:not(.text):hover {
  cursor: pointer;
  /* filter: brightness(1.1); */
  filter: saturate(1.5);
  border: 3px var(--background-color) solid;
  transition: all 0.3s;
}

.tall {
  grid-row: span 2 / auto;
}

.wide {
  grid-column: span 2 / auto;
}

.big {
  grid-row: span 2 / auto;
  grid-column: span 2 / auto;
}

.small {
  grid-column: span 1 / auto;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  #cow { background-position: -8rem; }
  #kingfish { background-position: 0 0;}
  #city { background-position: -12rem; }
  #smile { background-position: -3rem; }
  #sky { background-position: -6rem; }
  #guy { background-position: -5rem; }
  #eyes { background-position: 0; }
  #lana { background-position: -3rem; }
  #vdp { background-position: -8rem; }
}
